@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;


$black:#1a1a1a;
$primary:#00ADEF;
$black-50:rgba(51, 51, 51, 0.8);

$link-color: $black;

$theme-colors:("black": $black,
  "primary": $primary,
  "black-50": $black-50);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  width: 100%;
  height: 100%;
}

.text-container {
  width: 780px;
  min-width: 300px;
  max-width: 100%;
}

.text-nav {
  letter-spacing: 0.395em;
  color: rgba(51, 51, 51, 0.8);
  font-family: 'Roboto', sans-serif;
}

.text-content{
  letter-spacing: 0.395em;
  color: rgba(51, 51, 51, 0.8);
  font-family: 'Roboto', sans-serif;
}

h1.text-content {
  letter-spacing: 0.12em;
  line-height: 19px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: rgba(51, 51, 51, 0.75);
}

h1.text-nav {
  letter-spacing: 0.12em;
  line-height: 19px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: rgba(51, 51, 51, 0.75);
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid{
  margin-top: 20px;
}

.grid-item,
.grid-sizer {
  width: 20%;
  position: relative;
}

.grid-item > a > img{
  width: 100%;
  height: 280px;
  object-fit: cover;
  display: block;
  position: relative;
}


.grid-item{
  padding: 05px;
}

.grid-item--width2 {
  width: 40%;
}

.carousel {
  display: none;
  visibility: none;
}

.lightbox .lb-image {
  height : 500px !important;
  width : 800px !important;
  display: block;
  height: auto;
  border-radius: 3px;

    /* Image border */
    border: 4px solid white;
  }

  .lightbox > .lb-image > img{
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .lb-data .lb-details{
  width: 100%;
  text-align: center;
}

.grid-item:hover{
  background: rgba(0,0,0,.9);
  transition: 0.25s ease-in-out;
}

.grid-item a:hover > img{
  opacity: .2;
  transition: 0.25s ease-in-out;
}

.text-item{
  opacity: 0;
  position: absolute!important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
}

.grid-item:hover .text-item{
  opacity: 1!important;
  transition: 0.25s ease-in-out;
}

 @media screen and (max-width:768px) {
 /*  .grid-item,
  .grid-sizer {
    width: 33.333%;
  } 
  .grid-item img{
    height: 100%;
    width: 100%;
  } */
  .grid-item,
  .grid-sizer {
    display: none;
    visibility: none;
  }

  .carousel {
    width: 100%;
    height: 400px;
    display: block;
    visibility: visible;
  }

  .carousel-inner > .carousel-item > a > img {
    position:relative;
    min-width: 100%;
    height: 400px; /* Altura da imagem dentro do Carousel */
    object-fit: cover;
    object-position: 50% 50%;
  }

  .lightbox .lb-image{
    width: 700px!important;
    height: 500px!important;
  }
  
  .lightbox > .lb-image > img{
    width: 100%!important;
    object-fit: cover;
  }
  
  .lb-data .lb-details{
    width: 100%;
    text-align: center;
  }

  .lb-details > .lb-caption{
    font-size: 23px;
  }
  
  .lb-details > .lb-number{
    font-size: 16px;
  }
  
}

@media screen and (max-width:576px){
  .grid-item,
  .grid-sizer {
    display: none;
    visibility: none;
  }

  p{
    font-size: 1.2em;
  }


  h1.text-content{
    font-size: 2em!important;
  }

  .logo{
    width: 150px;
  }

  .text-nav{
    font-size: 23px;
    text-align: left;
    letter-spacing: 0.1em;
  }
  .carousel {
    width: 100%;
    height: 380px;
    display: block;
    visibility: visible;
  }

  .carousel-inner > .carousel-item > a > img {
    position:relative;
    min-width: 100%;
    height: 380px; /* Altura da imagem dentro do Carousel */
    object-fit: cover;
    object-position: 50% 50%;
  }
  
  .lightbox .lb-image{
    width: 500px!important;
    height: 380px!important;
  }
  
  .lightbox > .lb-image > img{
    width: 100%!important;
    object-fit: cover;
  }
  
  .lb-data .lb-details{
    width: 100%;
    text-align: center;
  }

  .lb-details > .lb-caption{
    font-size: 21px;
  }
  
  .lb-details > .lb-number{
    font-size: 16px;
  }
  
}

@media screen and (max-width:425px) {
  .grid-item,
  .grid-sizer {
    display: none;
    visibility: none;
  }

  .logo{
    width: 110px;
  }

  .text-nav{
    font-size: 18px;
    text-align: left;
    letter-spacing: 0.1em;
  }
  
  h1.text-content{
    font-size: 1.7em!important;
  }
  
  .text-container{
    width: 100%;
  }

.carousel {
  width: 100%;
  height: 300px;
  display: block;
  visibility: visible;
}

.carousel-inner > .carousel-item > a > img {
  position:relative;
  min-width: 100%;
  height: 300px; /* Altura da imagem dentro do Carousel */
  object-fit: cover;
  object-position: 50% 50%;
}

.lightbox .lb-image{
  width: 400px!important;
  height: 300px!important;
}

.lightbox > .lb-image > img{
  width: 100%!important;
  object-fit: cover;
}

.lb-data .lb-details{
  width: 100%;
  text-align: center;
}

.lb-details > .lb-caption{
  font-size: 21px;
}

.lb-details > .lb-number{
  font-size: 16px;
}


}

@media screen and (max-width:375px) {
  .grid-item,
  .grid-sizer {
    display: none;
    visibility: none;
  }
  
.logo{
  width: 110px;
}

.text-nav{
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.1em;
}

h1.text-content{
  font-size: 1.7em!important;
}

.text-container{
  width: 100%;
}

.carousel {
  width: 100%;
  height: 280px;
  display: block;
  visibility: visible;
}

.carousel-inner > .carousel-item > a > img {
  position:relative;
  min-width: 100%;
  height: 280px; /* Altura da imagem dentro do Carousel */
  object-fit: cover;
  object-position: 50% 50%;
}

.lightbox .lb-image{
  width: 300px!important;
  height: 280px!important;
}

.lightbox > .lb-image > img{
  width: 100%!important;
  object-fit: cover;
}

.lb-data .lb-details{
  width: 100%;
  text-align: center;
}

.lb-details > .lb-caption{
  font-size: 16px;
}

.lb-details > .lb-number{
  font-size: 13px;
}

} 

@import './node_modules/bootstrap/scss/bootstrap';